[2018-03-01 06:31] darrow opened #2 "Error on build"
Suggestions?

[code]

[2018-03-01 11:01] arykalin commented on #2
Hi, I made a fix, please pull new changes and try again.

[2018-03-01 16:56] jeffatnike opened #4 "TPP auth'd cert request returns x509 cert signed by unknown authority"
Hi! I found this plugin and it's an awesome offering... I ran into this last night, though, and I'm hoping you can shine some light or provide some insight into the root cause (possibly root auth needs to be in my system keychain?).

main.tf
`provider "venafi" {
  url = "ven.<internal>.com"
  tpp_username = "myusername"
  tpp_password = "mypassword"
  zone = "Policy\\<others>\\Internal\\"
}

resou

[2018-03-01 17:35] tr1ck3r commented on #4
Hi Jeff,

I believe that error indicates your build machine doesn't trust the issuer of the certificate securing your Venafi Trust Protection Platform WebSDK.  If you add the root certificate of the issuing chain to your build machine's trust store, the Venafi Terraform provider should be able to interact with your WebSDK.  The following link details how to do it for various operating systems:  ht

[2018-03-01 18:10] jeffatnike commented on #4
Thanks @tr1ck3r for the speedy reply to a poorly formatted issue! thanks, i'll try that.

[2018-03-08 23:07] jeffatnike commented on #4
@tr1ck3r that seeemed to do the trick, but now i'm getting this error

[code]

[2018-03-09 10:52] arykalin commented on #4
Hi Jeff,
Could you provide terraform plan you trying to apply?

[2018-03-09 14:56] jeffatnike commented on #4
Hi @arykalin
[code]

[2018-03-09 19:07] tr1ck3r commented on #4
Hi @jeffatnike

A couple quick things to try.  First, add /vedsdk to the end of your url string (i.e. "https://ven.<our company>.com/vedsdk").  That shouldn't matter but it matches what I've been using for my demos.  Second, omit the root "Policy" folder and remove the trailing backslashes from the zone (i.e. "Digital\\Quality\\Certificates\\External").  The "Policy" seems like the most likely cul

[2018-10-25 07:13] navreddy36 opened #7 "terraform crash & venafi_csr.webserver: 1 error(s) occurred:"
[root@ip-x.x.x.x ~]# terraform apply

An execution plan has been generated and is shown below.
Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  + venafi_csr.webserver
      id:                    <computed>
      common_name:           "web.xx.localhost"
      country:               "US"
      csr_pem:               <computed>

[2018-10-25 09:05] wgoulet commented on #7
Hi @navreddy36,

Did you include a configuration in your Terraform plan file to specify the API key and zone (if using Venafi Cloud)? From the product documentation, your configuration would look like this:

`provider "venafi" {
url = “<ALT_VENAFI_CLOUD_URL>” // optional, defaults to production URL
api_key = "<API_KEY>"
zone = "<ZONE>" // optional, defaults to 'default'
}`

Thanks,
Walter

[2018-10-25 09:07] karthick9500 commented on #7
Yes we have included that.
On Thu, 25 Oct 2018 at 1:05 PM, Walter Goulet <notifications@github.com>
wrote:

--
Sent from my iPhone

[2018-10-25 09:12] wgoulet commented on #7
Could you please include your entire plan file (anonymizing your API key)
so we can try to reproduce? I want to isolate this to a specific issue with
the provider itself instead of your account.

On Thu, Oct 25, 2018 at 2:13 AM navreddy36 <notifications@github.com> wrote:

[2018-10-25 09:15] karthick9500 commented on #7
provider "venafi" {
url = "https://********"
tpp_username = "*********"
tpp_password = "*******"
}

resource "venafi_certificate" "webserver" {
common_name = "service1.contoso.com"
algorithm = "ECC"
rsa_bits = "2048"
san_dns = [
"www.contoso.com",
"www2.contoso.com"
]

key_password = "passw0rd"
}

output "cert_certificate" {
value = "${venafi_certificate.webserver.certificate}"
}

output "cert_cha

[2018-10-25 09:20] wgoulet commented on #7
@navreddy36 to confirm, you are using the plugin with our Venafi TPP server that you have installed and confirmed connectivity to correct? My initial guess is that the HTTPS certificate used by your TPP server is not trusted by the host you are executing your Terraform plan on.

[2018-10-25 09:51] karthick9500 commented on #7
Same error.

venafi_certificate.webserver: Creating...
  algorithm:       "" => "ECDSA"
  certificate:     "" => "<computed>"
  chain:           "" => "<computed>"
  common_name:     "" => "service1.contoso.com"
  ecdsa_curve:     "" => "P224"
  key_password:    "<sensitive>" => "<sensitive>"
  private_key_pem: "" => "<computed>"
  rsa_bits:        "" => "2048"
  san_dns.#:       "" => "2"
  san_d

[2018-10-25 09:54] karthick9500 commented on #7
[root@host workspace]# terraform version
Terraform v0.11.10
+ provider.docker v1.0.4
+ provider.venafi (unversioned)

[root@host workspace]# go version
go version go1.9.4 linux/amd64
[root@host workspace]#

[2018-10-25 11:56] wgoulet commented on #7
Hi @karthick9500 I just attempted to reproduce your error (using the terraform plugin with Venafi Cloud) and confirmed that a certificate was successfully issued from the service.

Here's a working basic plan file that simply generates an RSA keypair then requests a certificate from Venafi Cloud. Try using this stripped down, basic plan file (using RSA instead of ECDSA) and verify that the provide

[2018-10-25 12:03] karthick9500 commented on #7
Same issue :(
terrafrom file and output below

[code]

[code]

[2018-10-25 12:17] arykalin commented on #7
@karthick9500 I just released new version which migrated to our new go library vCert, could you try it?

[2018-10-25 12:17] arykalin commented on #7
https://github.com/Venafi/terraform-provider-venafi/releases/tag/0.0.2

[2018-10-25 12:40] wgoulet commented on #7
@karthick9500 Also from your plan file, I noticed that you requested 'gmail.example.com' which the Venafi Cloud product will not let you issue certificates for (even for testing). You need to use one of the approved domains for your account. You can view this list in the Venafi Cloud UI by clicking on the 'Certificate Providers' page and clicking on the 'Default' provider. Also, see this help topi

[2018-10-25 17:01] Sathishkunisai commented on #7
@arykalin We are testing the provider, will update you on the result. Thanks a lot for your support

[2018-10-25 18:50] arykalin commented on #7
@Sathishkunisai ok. unfortunately we noticed annoying bug in 0.0.2 release. Please download new binary from https://github.com/Venafi/terraform-provider-venafi/releases/tag/0.0.3 release

[2018-10-25 19:12] navreddy36 commented on #7
I just did update new version 0.0.3.

We are getting issue with  TPP Venafi:
Error: Error running plan: 1 error(s) occurred:
* provider.venafi: Post https://X.X.X.X/vedsdk/authorize/: x509: cannot validate certificate for X.X.X.X because it doesn't contain any IP SANs

On Venafi Cloud:
Error: Error applying plan:
1 error(s) occurred:
* output.cert_private_key: Resource 'venafi_certificate.webserve

[2018-10-25 19:37] wgoulet commented on #7
@navreddy36 Try deleting your .tfstate & .tfstate.backup files and executing the command again. I found that when using the old version of the plugin (using Venafi Cloud) that triggered this error, I continued to get this error until I removed my old .tfstate files.

[2018-10-25 19:41] arykalin commented on #7
@navreddy36 did you use trust_bundle option?
https://github.com/Venafi/terraform-provider-venafi#import-trust-chain-for-the-platform
If not please follow those instructions

[2018-10-26 03:09] navreddy36 commented on #7
Getting this error while runnig terraform plan on Venafi TPP:
Error: Error running plan: 1 error(s) occurred:
* provider.venafi: Post https://ec2-x.x.x.x.x..us-east-2.compute.amazonaws.com/vedsdk/authorize/: local error: tls: no renegotiation.

For Venafi Cloud:  I have deleted .tfstate and .tfstatebackup but still getting error.
venafi_certificate.webserver: Still creating... (10s elapsed)
venafi

[2018-10-26 03:41] wgoulet commented on #7
@navreddy36 Ok for Venafi Cloud your certificate is definitely getting issued (you should be getting email notifications from Venafi Cloud as well as see your certificate in the Venafi Cloud certificate inventory page).

I am unable to reproduce the error you are seeing now. So let's just triple check everything.
1) Make sure you installed the latest terraform-provider-venafi that @arykalin recomm

[2018-10-26 04:53] navreddy36 commented on #7
Here is the steps I followed, It's creating cert and getting emails also but getting same error that I mentioned above.
[root@ip-x.x.x.x /]# terraform -v
Terraform v0.11.9
+ provider.venafi (unversioned)
Your version of Terraform is out of date! The latest version
is 0.11.10. You can update by downloading from www.terraform.io/downloads.html
[root@ip-x.x.x.x ~]# go version
go version go1.9.4 linux

[2018-10-26 05:02] wgoulet commented on #7
@navreddy36 You are not actually using the released version I described above. You do not need to build the provider from source.

Ok, so the simplest way to start fresh is to create a brand new directory and copy the Terraform binary you downloaded from Hashicorp into it. Next, copy the release of our Terraform provider (from https://github.com/Venafi/terraform-provider-venafi/releases/download/0

[2018-10-26 07:44] arykalin commented on #7
@navreddy36 please make sure that you don't use terraform-provider-venafi binary from the old release, "'venafi_certificate.webserver' does not have attribute 'private_key_pem' for variable" is a bug from 0.0.2 release, it is fixed in 0.0.3 which you can download from the link which Walter provided.

[2018-10-26 19:02] Sathishkunisai commented on #7
Please suggest the version of GO you are using .. seems to be issue in common.go related to TLS

Error: Error running plan: 1 error(s) occurred:

* provider.venafi: Post https://ec2-X.X.X.X.us-east-2.compute.amazonaws.com/vedsdk/authorize/: local error: tls: no renegotiation

[2018-10-26 22:04] Sathishkunisai commented on #7
@wgoulet @arykalin The purpose of this exercise is to retrieve Key's and Certificates from Venafi and Store is back in Hashicorp Vault using Terraform as it is our IaC tool

[2018-10-26 23:38] tr1ck3r commented on #7
@Sathishkunisai Thank you for describing your use case.  We've also developed a PKI backend plugin specifically for HashiCorp Vault.  It allows you to have your machine identity (certificate and key) requests fulfilled by Venafi and stored in Vault.  Please see https://github.com/Venafi/vault-pki-backend-venafi.  Both integrations make use of our VCert SDK.

[2018-10-28 18:20] karthick9500 commented on #7
Im also getting the same error with proper SSL and even with self signed.

[code]

[code]

[2018-10-28 19:56] arykalin commented on #7
Hi @karthick9500 I'm trying to reproduce it. Is it possible to show us TPP's https certificate? Also do you use Azure for TPP hosting?

[2018-10-28 19:58] karthick9500 commented on #7
No. its an on-prem installation. Running in IIS windows server.

[2018-10-28 19:59] arykalin commented on #7
Does this certificate trusted by server where you trying to run Terrafrom?

[2018-10-28 20:01] karthick9500 commented on #7
Sorry, not sure about this. Could you please suggest me how to trust ?
I do include the certificate with parameter "trust_bundle"

[2018-10-28 20:16] Sathishkunisai commented on #7
@arykalin the service is running in IIS, VM hosted in Amazon. we obtained certificate from a third party for the site. https://venfiadmin.tk/VEDAdmin/Login.aspx?redirectTo=https%3A%2F%2Fvenfiadmin.tk%2Fvedadmin%2F

[2018-10-28 21:04] arykalin commented on #7
If you're using trust_bundle then it  doesn't matter trusted it or not :). On more question, you're using binary from 0.0.3 release, right? I'm asking because you asked about our Go version. (We build binary with 1.10 just in case).

[2018-10-28 21:07] Sathishkunisai commented on #7
@arykalin https://venfiadmin.tk/VEDAdmin/Login.aspx?redirectTo=https%3A%2F%2Fvenfiadmin.tk%2Fvedadmin%2F . please visit this site, it is certified now.  we are using 0.0.3 version of the binary only. kindly assist

[2018-10-29 07:02] karthick9500 commented on #7
Yes. Im using the 0.0.3 only.

[2018-10-29 09:01] arykalin commented on #7
@Sathishkunisai, @karthick9500  thank you, please try 0.0.3.1 release
https://github.com/Venafi/terraform-provider-venafi/releases/tag/0.0.3.1

[2018-10-29 10:20] karthick9500 commented on #7
Hi @arykalin

I have tried 0.0.3.1, im getting the below error.
Im passing pem file as part of template provider with "trust_bundle"
Please advise

[code]

[2018-10-29 12:05] arykalin commented on #7
Hm, @karthick9500 Are you sure that you entering proper credentials? Code 403 means that either you're entering wrong credentials, or your user is not allowed to use webSDK (Allow WebSDK Access flag in user details)

[2018-10-29 23:20] nileshpadwal456 commented on #7
**I stated using this terraform script which you provided but I am getting listed error. Do I maintain cadn information in the script ? If yes then can you please inform me how can I  pass that variable into terraform script ?**

1 error(s) occurred:

* venafi_certificate.webserver: 1 error(s) occurred:

* venafi_certificate.webserver: Unexpected status code on TPP Certificate Request. Status: 400

[2018-10-29 23:46] tr1ck3r commented on #7
Hi @nileshpadwal456, you first need to assign the appropriate CA template by policy to the zone (folder) using one of the Trust Protection Platform web consoles.

[2018-10-30 00:19] nileshpadwal456 commented on #7
hi @tr1ck3r : thank you so much for quick response. I already assign the appropriate CA template by policy to the zone but still getting same error.

provider "venafi" {
				url = "https://xxxxxxx/vedsdk"
				tpp_username = "xxxxxx"
				tpp_password = "xxxxxx"
				zone = "\\VED\\Policy\\terraformcertificates\\AWSCA"
                                trust_bundle = "${file("chain.pem")}"
}

[2018-10-30 14:38] tr1ck3r commented on #7
Hi @nileshpadwal456, please check the permissions that your user (tpp_username) has to the policy folder (zone).  They need to have view, read, write, and create permission to request certificates using our Terraform provider.  Insufficient permissions can cause the same error (we're not able to differentiate between no CA template assigned by policy and no access to read the folder's policy).

[2018-10-30 14:51] arykalin commented on #7
Hi @nileshpadwal456 try to remove VED\Policy from zone, i.e it should looks like this:
zone = "terraformcertificates\\AWSCA"

[2018-10-31 17:56] navreddy36 commented on #7
REST API is working for us, It's retrieving certificates in TPP but getting problem with terraform provider only . It's required CADN attribute while running terraform apply.
![image001](https://user-images.githubusercontent.com/28284699/47807983-a56b2f80-dcfa-11e8-8648-7da02df21d78.png)
![image002](https://user-images.githubusercontent.com/28284699/47807994-aac87a00-dcfa-11e8-9ec9-a7dfc33944f0.pn

[2018-10-31 18:32] tr1ck3r commented on #7
Hi @navreddy36 you must assign a CA template by policy in Trust Protection Platform, you cannot specify it as part of the Terraform provider configuration.  Please verify the following:  https://github.com/Venafi/vcert#prerequisites-for-using-with-trust-protection-platform

[2018-12-11 11:33] arykalin commented on #6
Hi @karthick9500 could you try latest version?

[2019-01-15 18:59] shaimona opened #10 "Entrust Integration with Venafi"
We use Entrust integration with Venafi. To request Entrust certs we need to pass email, full name and phone number. Is it possible to add those properties?

[2019-01-16 15:30] tr1ck3r commented on #10
Hi @shaimona, to some degree that would go against what we have tried to accomplish with VCert.  Our objective was to rely on policy everywhere we could to minimize the data required by the invoker of VCert.  The contact related items you mentioned can all be set by policy using WebAdmin (Settings > Certificate Authorities) so that is the approach we recommend.  You will also need to use Trust Pro

[2019-02-07 03:50] tr1ck3r commented on #6
@karthick9500 were you able to resolve your issue?

[2019-02-07 03:54] #7 closed

[2019-02-07 03:55] #10 closed

[2019-03-01 06:17] zerolaser opened #12 "isn't going to be Official terraform provider ?"
Hey folks, This is not an issue. Just wondering if this provider will be officially added to the list of terraform providers ?

[2019-03-01 07:52] zerolaser opened #13 "Error on applying plan"
Here's my terraform code.
Using the latest version pre-release version v0.4 and terraform version 0.11.11
[code]
while running  **terraform apply**

[code]

running in debug mode shows the following error.

[code]
Unsure what error message exactly says.

Generally we use venaficli ruby gem and create/renew certs using the venaficli
Our command looks like this.
[code]
where venafi.yml contains TPP_

[2019-03-01 08:34] mr-tron commented on #13
You forgot to specify `zone=<your_zone_name>`, so plugin use `Default` zone which is not configured in your TPP.

[2019-03-01 08:40] arykalin commented on #13
Hi @zerolaser regarding CA option, terrafrom integration is based on VCert SDK which doesn't support CADN option. Please see issue https://github.com/Venafi/vcert/issues/6

[2019-03-01 16:24] tr1ck3r commented on #12
Yes @zerolaser, we are currently working through the approval process with HashiCorp.

[2019-03-01 22:23] zerolaser commented on #13
Thanks @mr-tron . adding that I was able to create it.

[2019-03-01 22:28] zerolaser commented on #13
On a separate note. Not sure if renew is part of VCert SDK or you guys planning on adding it ?

[2019-03-02 13:06] arykalin commented on #13
@zerolaser renew is already implemented in VCert SDK, but not in the terraform provider. However we plan to implement it soon.

[2019-03-04 04:34] zerolaser commented on #13
thanks @arykalin. Looking forward to it.
Just would like to know, what happens if the cert is expired now?
It checks if that cert is already present, if it is presented then it doesn't show any terraform changes ?

[2019-03-04 18:17] tr1ck3r commented on #13
@zerolaser thank you for bringing this issue to our attention.  Our Terraform provider was originally designed solely as a method for requesting a single certificate.  Basically apply, show, and destroy... and repeat to get another certificate.  We see that there is value in a longer lived plan which means updating our Terraform provider to take advantage of the existing VCert SDK renewal capabili

[2019-03-04 22:49] zerolaser commented on #13
@tr1ck3r we use venafi a lot and we would love to this venafi provider official.

[2019-03-04 22:54] zerolaser commented on #13
@arykalin I was getting this error when I do `terraform destroy` and re-apply.
As soon as I create the venafi cert, i'm passing the key,chain and certificate to aws certificate manager but i'm getting this following error.

* aws_acm_certificate.cert: Error importing certificate: ValidationException: Key provided does not match the certificate.

I tried manually uploading the cert its saying key d

[2019-03-04 23:07] zerolaser commented on #13
let me know if i should start the above comment as a new issue closing this one out.

[2019-03-04 23:19] zerolaser commented on #13
Also I forgot to mention. Adding the email notification to send out the alerts when the cert nearing to expiration.

[2019-03-05 11:41] arykalin commented on #15
Hi @raymondhardynike is this certificate already present in TPP when you trying to enroll it?

[2019-03-05 13:29] arykalin commented on #15
Hi again @raymondhardynike , could you try latest 6.0 release? https://github.com/Venafi/terraform-provider-venafi/releases/tag/0.6.0

[2019-03-05 13:30] arykalin commented on #13
@zerolaser regarding key issue, please look here https://github.com/Venafi/terraform-provider-venafi/issues/15
Hope it is fixed in the latest release (0.6.0)

[2019-03-05 18:15] raymondhardynike commented on #15
Yes this is a certificate that exists already vcert

0.6.0 still has the same issue

#:~/workspace/venafi-test% openssl x509 -noout -modulus -in server.crt | openssl md5
10fc0aa39fbac53ba594f1c4b4eeeda9
#:~/workspace/venafi-test% openssl rsa -noout -modulus -in server.key| openssl md5
d0183584c18232911999f18d66138b58

When i use vcert i use the enroll option to get the same certificate and the key

[2019-03-06 00:35] zerolaser commented on #13
thanks @arykalin That fixed my issue. but it ended up creating a new one. The **private_key_pem** generated is in rsa format and needs to be convert it to some sort of PEM–encoded format AWS ACM to accept it.
I tried writing a null_resource to do run openssl commands but I have to write multiple null_resources.  first to store the private_key and passphrase to  respective files(as openssl doesn't

[2019-03-06 05:42] tr1ck3r commented on #13
@zerolaser the only difference I'm seeing with the **private_key_pem** behavior in v0.6.0 is that it is honoring the **key_password** parameter and encrypting the private key (i.e. we fixed a bug).  To have your private key output with no encryption (same as v0.4.0) you'd just need to omit the **key_password** parameter.

[2019-03-06 07:03] zerolaser commented on #13
@tr1ck3r I tried recreating it omitting the password and I was able to successfully create the cert via venafi and pass it to acm.
but destroying and re-applying it threw the same error.

[code]

Secondly, We do not want to omit the key_password parameter. after creating the venafi cert on console or using venafi, we download the cert and convert the p12 file to private key using the following ope

[2019-03-06 07:57] arykalin commented on #13
Hi @zerolaser
about first issue, could you show terraform plan you trying to apply? Maybe the problem is that you're trying to import certificate with encrypted key file and aws_acm can't read it?

about second issue, could you please clarify,, you want terraform provider to be able to provide certificates in pkcs12 format? For now we're providing PEM formatted files, in case of key_password param

[2019-03-06 08:09] arykalin commented on #15
Hi @raymondhardynike is it possible that terraform didn't change anything and you get the same certificate which you've got with 0.4? Could you try to run terrafrom destroy and then terraform apply again. Also could you show the status of "terraform state show"? You can send it to opensource@venafi.com

[2019-03-06 08:18] zerolaser commented on #13
@arykalin On first Issue, it was happening even when the key_password was omitted. Not sure what I can and cant post here. i'll email to opensource@venafi.com.
**Steps to replicate**. apply then destroy and re-apply it.  venafi resource will created but acm will complain key doesn't match cert.
`terraform destroy` doesn't delete the cert from our venafi site nor revokes or retires it. but `terrafo

[2019-03-06 19:12] zerolaser commented on #13
@arykalin Have received my email ?

[2019-03-06 20:52] arykalin commented on #13
@zerolaser yes, I have, sorry for the late reply. I'll close this issue, because current problem is similar to the
[the https://github.com/Venafi/terraform-provider-venafi/issues/15](issue 15)
About you second request, yes, there is a point in it, could you open another issue here with feature request in it?

[2019-03-06 20:52] #13 closed

[2019-03-07 09:57] arykalin commented on #15
Hi @raymondhardynike @zerolaser
Please try new release 6.1 (https://github.com/Venafi/terraform-provider-venafi/releases/tag/0.6.1) It should fix your issue.

[2019-03-07 17:25] raymondhardynike commented on #15
Something is broken in that build and terraform does not see it as a provider
https://pastebin.com/qXmKusmE

[2019-03-07 18:26] raymondhardynike commented on #15
I compiled from master and it renews the certificate even if it is a valid certificate. This makes the terraform run take a long time then time out.

In working with venafi api on another project what i ended up doing to solve this was 3 verifications. First i check to see if the current certificate is valid. If it is not valid i pull a certificate and validate that. if that is not valid i renew.

[2019-03-07 20:49] tr1ck3r commented on #15
@raymondhardynike would you please confirm the version of Trust Protection Platform you are using?  We're currently working on an issue that affects 18.4 in the way that you've described.  It should not be possible to retrieve the previous certificate using POST Certificates/Retrieve after a new request has been successfully submitted using POST Certificates/Request or POST Certificates/Renew.

[2019-03-07 21:28] raymondhardynike commented on #15
Yes it is 18.4

[2019-03-09 15:35] arykalin commented on #15
@raymondhardynike to make plugin work you need o rename the plugin binary according terraform naming convention, like it said in https://github.com/Venafi/terraform-provider-venafi#download-and-install-the-venafi-provider-plugin. Rename terraform-provider-venafi_0.6.1+117_darwin86 to terraform-provider-venafi_0.6.1

[2019-03-09 15:43] arykalin commented on #15
Currently we support only terraform create operation, and working on update operation. Behavior you described is implemented in our ansible solution, maybe you can try it - https://github.com/Venafi/ansible-role-venafi

[2019-03-11 16:10] raymondhardynike commented on #15
@arykalin The update behavior is not needed at this time it is mostly the timeout issue that is the problem. I am looking to use terraform as it is what we use in the rest of the pipeline.

[2019-03-11 21:35] arykalin commented on #15
@raymondhardynike Could you clarify, did you try latest binary release? Did it fix the problem with key mismatch?
Also, could you clarify this comment "I compiled from master and it renews the certificate even if it is a valid certificate." you mean the problem is that if you have certificate in TPP but don't have it in terraform state terraform will request a new certificate with same certificate

[2019-03-28 09:46] arykalin commented on #15
Issuer should be fixed in latest release.

[2019-03-28 09:47] arykalin commented on #6
@karthick9500 please check latest release and reopen the issue if problem persists.

[2019-04-11 19:32] arykalin commented on #23
Hi @zerolaser Could you show your venafi provider config, with sensitive adtahidden of course? Did you set zone parameter in provider configuration?

[2019-04-12 20:51] zerolaser commented on #23
@arykalin yes. I'm using zone config in the provider configuration.  I parameterized everything.let me know if you need any information.

[code]

[2019-04-13 07:42] arykalin commented on #23
I see a typo in your provider configuration - zone = "{var.zone}" there should be zone = "${var.zone}"

[2019-04-14 06:48] zerolaser commented on #23
@arykalin Thanks. that was a dumb typo.
you haven't mentioned anything about certificate_dn in the readme file.
[code]

[2019-04-14 18:22] arykalin commented on #23
certificate_dn will be set automatically to the request ID after request is sent. At this moment we don't use it.

[2019-04-14 22:23] zerolaser commented on #23
@arykalin It failed for me throwing that error. what does that mean ?

[2019-04-15 11:41] arykalin commented on #23
Oh, I'm sorry, didn't recognize you have this error. Do you have CA templates assigned to TPP policy?
As it said in https://github.com/Venafi/terraform-provider-venafi#requirements-for-usage-with-trust-protection-platform

[2019-04-16 17:33] zerolaser commented on #23
@arykalin yes. we assign the TLS template to the internal certs and Entrust template to the external certs. How do i get around that ?

[2019-04-19 20:45] zerolaser commented on #23
@arykalin any update on this ?

[2019-04-22 21:48] arykalin commented on #23
@zerolaser sorry for delay. You mean you have default CA template configured for the policy which you use for terraform? Could you check policy permissions and that you entering right policy name in configuration? Also look into comment here https://github.com/Venafi/terraform-provider-venafi/issues/7#issuecomment-434116378 there is same error.

[2019-05-17 14:08] gani247 opened #29 "Is Read/Renew/Update/Delete possible"
Can I use current release to Read a cert using `data` as we do with terraform+aws provider. And is Renew/delete/update possible now.

[2019-05-17 14:31] arykalin commented on #29
Hi @gani247 Yes, you can read certificate, look for examples in Makefile under test_e2e_* actions. Also up on read checkForRenew function will be called which will check certificate against expiration_window option - https://github.com/Venafi/terraform-provider-venafi#creating-a-certificate-and-private-key-pair
Delete operation is not implemented yet.

[2019-05-17 15:01] gani247 commented on #29
I've set of certs created before, can I mange them now like renewing/read...

[2019-05-19 16:56] awahnteh commented on #6
Problem Persists. I just tried it myself and got the same error. More specific error messages would also be helpful

[2019-05-20 18:19] tr1ck3r commented on #30
Hi @gani247, that error message is accurate.  The current implementation of our Terraform provider does not support the `import` method.  Can you please describe your use case?  Is it for renewing an existing certificate?  If so, is there a reason that you wouldn't be able to request a new certificate with the same subject and SANs?

[2019-05-21 03:52] gani247 commented on #30
Exactly... I'm trying to renew a existing one.
Can you share the reason...why the current implementation don't support ?

[2019-05-21 03:52] gani247 commented on #29
Closing

[2019-05-21 03:52] #29 closed

[2019-05-23 17:04] zerolaser commented on #12
@tr1ck3r with terraform 0.12.0 released out. any update on this ?

[2019-05-25 18:13] gani247 commented on #30
thanks!

[2019-05-25 18:28] gani247 opened #32 "Is using "data", "null_resource" possible?"
like

`
data "venafi_certificate" "webserver-cert" {
  ........
}
`
to get existing cert info
and
`
resource "null_resource" "webserver-cert"  {
  .......
}
`
are above scenarios possible with the current implementation?

[2019-05-27 15:14] arykalin commented on #32
Hi @gani247 as I understand null_resource should be supported by any terraform provider. If not please open an issue.

[2019-05-27 15:14] #32 closed

[2019-05-30 09:11] gani247 opened #33 "how to choose "Service Generated CSR""
While creating a cert, any way to choose "Service Generated CSR" ?

[2019-05-30 09:14] arykalin commented on #33
Hi @gani247 unfortunately  "Service Generated CSR" is not supported by Venafi terraform provider. CSR is generated by vCert library with respect to TPP or Cloud policy.

[2019-05-30 12:15] #33 closed

[2019-05-30 12:52] gani247 opened #34 "Terraform PLAN Renewing the certificate"
I was trying to PLAN, but Terraform renewed my certificate.

I know that cert reached its expiration-window, but my intention was to PLAN not to RENEW.

on PLAN i could see the cert-logs in Venafi which modified the serial number.

[2019-05-30 12:59] arykalin commented on #34
Hi @gani247 Hmm, it was intentional. Though I agree that not clear. Let me think how fix it.

[2019-05-30 13:04] gani247 commented on #34
any solution to this?

[2019-05-30 13:12] gani247 commented on #34
its just PLANing, if I use default values for all properties (for ex: expiration_window: 168)

[2019-05-30 13:17] arykalin commented on #34
Yes, sorry that, I'll create a fix as soon as possible.

[2019-06-03 10:14] gani247 commented on #34
@arykalin any update here?

[2019-06-03 20:37] arykalin commented on #34
@gani247 sorry, didn't find a solution for this yet. Terraform is checking of updated during read operation which is running on both update and renew. The reason for that is that we wanted to update certificate even if apply called on already created certificate. Because in this case only read operation is performed. Unfortunately I forgot that read operation is called on plan too.

[2019-06-04 02:09] gani247 commented on #34
You know where exactly the problem is, what stopping you actually...  I can help you... in standardizing the solution.
...............
We have a huge requirement with this provider.

[2019-06-04 16:13] gani247 commented on #34
@arykalin .. plz help me understand `checkForRenew` method in  `resource_venafi_certificate.go`.

[2019-06-04 19:24] mr-tron commented on #34
For example if your certificate expiring 05 Jun 16:30 and renew window is 24 hour, it should be renewed if you run terraform after 04 Jun 16:30. This functions checks this condition. Is expiring time closer than renew window allows.

[2019-06-06 11:41] gani247 commented on #34
@arykalin any update here, on this issue?

its a show-stopper for us now. so if you can give the time-line we will plan accordingly.

[2019-06-06 23:49] zosocanuck opened #35 "Incompatible API version with plugin"
Getting the following error when running `terraform plan`

[code]

Environment:
- Terraform v0.12.1
- terraform-provider-venafi 0.6.3

[2019-06-07 14:13] gani247 commented on #34
@arykalin .. any fix on this issue?

[2019-06-07 14:34] mr-tron commented on #34
We fixed issue. You can compile from branch by your self https://github.com/Venafi/terraform-provider-venafi/tree/fix-refresh-on-planning  or waiting merging to master. It can require some time. May be in Monday.

[2019-06-07 14:36] mr-tron commented on #34
It doesn`t tested  - our testing infrastructure is unavailable in this moment. So on your risk.

[2019-06-07 14:40] gani247 commented on #34
Good to hear that...!!

[2019-06-07 15:33] mr-tron commented on #35
https://github.com/Venafi/terraform-provider-venafi/tree/master-ven-50144-update-terraform-version

[2019-06-07 15:41] karthikpappu commented on #35
thank you

[2019-06-10 14:45] gani247 commented on #34
@mr-tron .... i hope test goes well today....... !!

[2019-06-11 18:07] tr1ck3r commented on #34
@gani247 yes, it should be soon.  Venafi Cloud is planning to release a major update later today and that will allow us to release a new version of VCert and then new releases for all of its downstream consumers including this project.

[2019-06-14 21:01] mr-tron commented on #34
https://github.com/Venafi/terraform-provider-venafi/releases/tag/0.7.0
Sorry for waiting

[2019-06-14 21:01] #34 closed

[2019-06-17 05:56] gani247 commented on #34
Great to see this.... Thanks for your prompt responses...!

[2019-07-03 06:01] gani247 opened #38 "Private key is visible in tfstate files"
I can see private key in tfstate file........ isn't it a security breach..?

[2019-07-03 21:47] tr1ck3r commented on #38
Hi @gani247,

The presence of the private key in the `tfstate` can be a security concern depending upon how tightly access to the filesystem is controlled.  HashiCorp recommends using a "remote state" to an encrypted target for addressing that concern.  https://www.terraform.io/docs/state/sensitive-data.html

Thanks!
Ryan

[2019-07-05 08:00] gani247 commented on #38
Thanks... @tr1ck3r !
Having encrypted "remote state" is great...

But lets go through below example tfstate of a AWS_ACM_Certificate ... I don't know whats the difference in a state-file having a full certificate or having a key of it. Below one abstracts the full privatekey, isn't it.  we can have public-cert and chain in tfstate, i'm worried about private-key.
[code]

Correct me if I'm wrong..

[2019-07-11 00:52] tr1ck3r commented on #38
@gani247 it appears the ACM provider is storing only the SHA1 checksum of certificate, private key, and chain (as a hex string) by defining the schema with StateFunc: normalizeCert.

- https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/resource_aws_acm_certificate.go#L38
- https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/resource_aws_iam_serv

[2019-07-15 15:13] gani247 commented on #38
Great to hear this from you @tr1ck3r ... Looking forward to see this in `action` .... :)

[2019-07-25 22:54] #35 closed

[2019-07-26 21:06] tr1ck3r commented on #23
@zerolaser following up on this to confirm you were able to resolve this by updating settings on the TPP side?  I also wanted to let you know that we just released v0.8.0 which adds support for Terraform v0.12.x.

[2019-08-20 18:49] tr1ck3r commented on #41
@gani247 since the Common Name has been deprecated for many years now (I think Google Chrome stopped supporting it in 2017), I believe we followed current standards in our implementation and always include the Common Name as a DNS SAN.  Most, if not all, public CAs follow the same behavior when they issue certificates, basically helping users to correct their mistake.  To resolve the error you enc

[2019-10-23 18:16] tr1ck3r commented on #12
Our Terraform provider has been approved by HashiCorp and is now being maintained at https://github.com/terraform-providers/terraform-provider-venafi.  Version 0.8.0 added support for Terraform 0.12 back in July, apologies for not commenting on that in this issue sooner.

[2019-10-23 18:16] #12 closed

[2020-01-13 15:50] jmcshane opened #5 "Create Venafi device"
**BUSINESS PROBLEM**
Create Venafi device and credential from Terraform

**PROPOSED SOLUTION**
[code]

Don't have a full idea of what fields this would require, but I wanted to get this out here for discussion.

**CURRENT ALTERNATIVES**
API calls after `venafi_resource` is provisioned.

**VENAFI EXPERIENCE**
Using Venafi onprem solution

[2020-01-13 17:24] tr1ck3r commented on #5
Hi @jmcshane, can you elaborate a bit more on what the "venafi_device" you proposed would do?  Are you seeking for the Terraform caller to be able to communicate where the requested certificate will be hosted, how it can be validated over TLS, and/or which application stack it belongs to?

[2020-01-13 20:46] jmcshane commented on #5
Hey @tr1ck3r, I'm working within Venafi TPP and there are further options after a certificate is provisioned. You can set up `Devices and Apps` as well as `Access Credentials`. These are available under the sdk API as:

`/Config/*` for device
`/Credentials/*` for access credentials

I would be interested to expand past the current resource which only uses the `/Certificates/*` API path.

[2020-01-13 20:47] jmcshane commented on #5
Config is of course an extremely broad API category and would need to be categorized under different configuration types available within Venafi

[2020-01-13 21:40] tr1ck3r commented on #5
That goes in somewhat of a different direction than we've seen most Venafi customers go with Terraform.  Rather than having TPP be responsible for provisioning certificates to infrastructure created by Terraform, it is Terraform that orchestrates everything having to do with the workload including certificate acquisition (using the Venafi provider) and the subsequent installation of the certificat

[2020-01-13 21:53] jmcshane commented on #5
Makes sense, once you get the cert out of the API, then you can pass that cert anywhere using TF. I'll close the issue and think back through this workflow

[2020-01-13 21:53] #5 closed, assigned to tr1ck3r

[2020-01-16 10:01] gani247 opened #6 "PLAN failing at expiration window value"
Getting below error while updating certificate. I created a cert with 8784 hours of window time. but while updating its i got below one.

Error: Error refreshing state: 1 error(s) occurred:

* module.venafi-acm.venafi_certificate.cert: 1 error(s) occurred:

* module.venafi-acm.venafi_certificate.cert: venafi_certificate.cert: certificate validity duration 8783h59m59s is less than configured expira

[2020-01-16 11:54] arykalin commented on #6
Hi @gani247 could you show your terraform plan?

[2020-02-13 16:04] mbrancato opened #8 "Support for zone / folder and policy creation"
**BUSINESS PROBLEM**
We are trying to automate onboarding

**PROPOSED SOLUTION**
Support creation of zones / folders and the associated attributes with this provider.

**CURRENT ALTERNATIVES**
scripts, etc.

**VENAFI EXPERIENCE**
4 months, every day

[2020-02-15 00:39] tr1ck3r commented on #6
@gani247 were you able to resolve your issue?

[2020-02-15 00:46] tr1ck3r commented on #8
@mbrancato thank you for your idea.  It sounds like you are looking for a new Venafi resource that can be used by a Venafi administrator to configure Venafi policy, is that right?  As opposed to the current resource which is intended more for managing the lifecycle of certificates needed by infrastructure deployed using Terraform.

[2020-02-15 04:34] mbrancato commented on #8
Yes @tr1ck3r - if I could compare it to the Vault provider, that provider can be both a Vault client as well as a way to configure Vault.

I do think it requires a new resource, etc.

[2020-03-16 14:11] jamestylerwarren opened #11 "Enforcement of custom fields failing certificate creation"
I'm receiving the following error when creating a certificate:

`Status: 400 Custom Field error. The value for the mandatory Custom Field Previous Expiration Date is not set.. Body: {"Error":"Custom Field error. The value for the mandatory Custom Field Previous Expiration Date is not set."}: {"Error":"Custom Field error. The value for the mandatory Custom Field Previous Expiration Date is not set.

[2020-03-16 15:30] tr1ck3r commented on #11
Hi @jamestylerwarren, yes, this is the expected behavior in the current provider as it has not yet been enhanced to allow passing of Custom Fields.  In Trust Protection Platform 19.3 the `POST Certificates/Request` method started accepting and enforcing Custom Fields.

https://support.venafi.com/hc/en-us/articles/360033779491

So at this time the answer is to make all certificate Custom Fields opt

[2020-03-16 16:01] tr1ck3r commented on #6
No response.  This seems to be working as designed... the `expiration_window` must be less than or equal to the validity of the issued certificate--in this case it was 1 second less.  We've included a 1 day buffer so using an `expiration_window` of 8783 would achieve the desired result (i.e. the certificate would always be renewed when the plan was applied).  The intent with the `expiration_window

[2020-03-16 16:01] #6 closed, assigned to nobody

[2020-03-16 16:44] jamestylerwarren commented on #11
Got it. Thanks for your help!

[2020-03-16 16:44] #11 closed, assigned to tr1ck3r

[2020-06-23 19:19] mfortin opened #15 "Multiple TPP Backend Servers Behind ALB is Failing"
**PROBLEM SUMMARY**
When using the provider with a TPP endpoint that has multiple backends behind an AWS ALB fails as the stickiness is not observed.

**STEPS TO REPRODUCE**
Authorize yourself
Make multiple calls:
[code]

**EXPECTED RESULTS**
I am expecting the request to succeed every time.

**ACTUAL RESULTS**
Some requests will succeed, others will fail, depending on which backend you reach out.

[2020-06-23 20:09] tr1ck3r commented on #15
@mfortin this is currently the expected behavior if the load balancer in front of your TPP WebSDK drivers is not configured to use source IP address affinity (or the load balancer is not able to ascertain unique source IP addresses for clients).  In Q3 we are planning to transition the provider from using the now deprecated API key to using token-based authentication and that will eliminate the de

[2020-06-26 03:33] smeluski opened #16 "Venafi Provider Timeout Causing Intermitent Issues"
I am seeing the following error when running terraform plan: Error: Post https://***.corp.com/vedsdk/authorize/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
  on certificate.tf line 1, in provider "venafi":
   1: provider venafi {

This happens intermittently. is it possible to increase the timeout or making it configurable?

[2020-06-26 04:13] tr1ck3r commented on #16
@smeluski we're planning to transition our Terraform provider from API key (username/password) to token in Q3 so that should give us an opportunity to reassess whether our timeout is appropriate.  A couple questions that will help us with that... What is the average ping latency between your Terraform client and your Venafi WebSDK server?  How frequently do you restart your Venafi WebSDK (IIS) ser

[2020-07-02 05:15] marshallford commented on #8
I'm also interested in this functionality. Alternately, I wish creating a certificate via the API would just create any zones/folders missing in the path (similar to the behavior of Vault or even `mkdir -p foo/bar/baz`).

[2020-07-02 18:40] tr1ck3r commented on #16
@smeluski any feedback on the questions I posed last week?  We also released a new version (v0.9.3) of our provider on Monday that increased one of the timeouts so I'm interested in hearing whether that eliminates the intermittent issues you are seeing?

[2020-07-02 23:38] smeluski commented on #16
@tr1ck3r thanks for getting back to me so promptly and following up. I tested this several times today and did not run into the issue which is positive. Not sure if the changes resolved the issue or not, but I'll be continuing to use this and will let you know if anything comes up.

As for your prior questions: average ping latency 28ms with a max of 43 and a min of 24. Unfortunately, I do not man

[2020-07-06 17:57] nukdcbear opened #18 "Running Terraform with Venafi Provider v0.9.3 Getting VCert error"
**PROBLEM SUMMARY**
Executing Terraform code with Venafi provider that worked with v0.9.2 but getting VCert error with v0.9.3:

Error: vcert error: server error: Unexpected status code on Venafi Cloud zone read. Status: 412
Error Code: 10726 Error: Distinguished name component O with value "" is invalid
Error Code: 10726 Error: Distinguished name component OU with value "" is invalid
Error Code: 1

[2020-07-06 18:22] tr1ck3r commented on #18
@nukdcbear v0.9.3 enabled support for the [Recommended Settings](https://docs.venafi.cloud/help/DevOps/Certificates/Issuing_Templates/t-Cloud-recommended-settings-issuing-templates.htm) feature of Venafi Cloud issuing templates but it looks like it may have introduced an issue when Recommended Settings values have not been assigned.  Can you please confirm the error goes away if you set Recommende

[2020-07-07 19:37] tr1ck3r commented on #18
@nukdcbear after a bit more investigation, it looks like that result would be expected if you have Issuing Template rules defined for Organization, Organizational Unit, City/Locality, State/Province, and Country but don't have Recommended Settings defined for any of them.  Our VCert client (used internally by Terraform) now constructs all of the Subject DN (except the CN) from the Recommended Sett

[2020-07-30 17:52] smeluski opened #19 "Resource venafi_certificate not revoking on destroy"
**PROBLEM SUMMARY**
I ran a terraform destroy for a certificate resource expecting it to revoke the certificate, but it still exists. I can taint the resource and it will destroy/create producing a new version of the certificate without any problems.

**STEPS TO REPRODUCE**
terraform destroy venafi_certificate

**EXPECTED RESULTS**
Certificate is revoked, but it doesn't appear that anything happen

[2020-07-30 18:03] smeluski commented on #16
@tr1ck3r - I am no longer seeing this issue. Appears to have been resolved or something network / server related on my side.

[2020-07-30 18:34] tr1ck3r commented on #16
Thank you for confirming @smeluski and happy that the issue seems to have been resolved.

[2020-07-30 18:34] #16 closed, assigned to tr1ck3r

[2020-08-07 18:22] Xeleema opened #20 "Add ability to specify "Service-Generated" Private Key & Certificate Signing Request (CSR)"
**BUSINESS PROBLEM**

Security-conscious customers (such as myself) would be able to specify "Service-Generated" instead of "User-Generated".
This will cause the Private Key and CSR to be generated by TPP instead of locally.

**PROPOSED SOLUTION**

Ability to specify "Service-Generated", while still defaulting to "User-Generated" would preserve the current expected behavior, but would permit a mor

[2020-08-24 21:33] tr1ck3r commented on #18
@nukdcbear were you able to resolve this issue by adjusting your Issuing Template Rules and/or Recommended Settings?

[2020-08-24 21:48] tr1ck3r commented on #20
@Xeleema supporting service generated key pairs is on our roadmap but won't happen this year unless it is contributed by the community.  We've identified two use cases where service generated keys have value over local (VCert) generated keys:  1️⃣ to enable TLS traffic inspection which requires private keys for decryption, and 2️⃣ to maximize entropy by leveraging an HSM to generate exportable key

[2020-08-27 21:47] cdmadrigal opened #23 "Add support for pfx/p12 certificate outputs"
**BUSINESS PROBLEM**
At the moment the Venafi terraform provider only outputs PEM formatted certificates and private keys. This is fine for AWS based deployments, but Azure requires pfx formatted certificates to natively integrate with each Azure service.

**PROPOSED SOLUTION**
Natively output pfx formatted certificates from the Venafi provider. This would allow us to easily interact and inject th

[2020-08-31 17:46] #18 closed, assigned to tr1ck3r

[2020-08-31 23:36] tr1ck3r opened #25 "Add "venafi_credential" resource for automating TPP token request/refresh"
**BUSINESS PROBLEM**
Allow the Venafi Terraform Provider to self-manage its access to Trust Protection Platform via token authentication where initialization begins with either username/password, client certificate, or refresh token.

**PROPOSED SOLUTION**
`venafi_credential` Resource

Arguments (input):
- `username`
- `password` (sensitive)
- `p12_keycert` (base64-encoded PKCS#12 keystore contain

[2020-09-03 22:14] #23 closed, assigned to rvelaVenafi, angelmoo

[2020-09-08 22:40] lhdomenech opened #26 "Add linters to build process to validate that code follows recommended Go coding style"
Code in this repository differs from recommend Go coding style as described by [https://golang.org/doc/effective_go.html](Effective Go).

[golangci-lint](https://github.com/golangci/golangci-lint) integrates with the most popular Go linters so it can validates that the code follows recommended coding style. Ideally this would be integrated in the build process and PR checks.

[2020-09-09 16:14] tr1ck3r commented on #26
Thank you @lhdomenech We're using `golangci-lint` for [VCert Go](https://github.com/Venafi/vcert) and I agree with your recommendation to apply it to this project as well.

[2020-09-10 21:38] cdmadrigal opened #27 "Support for Custom Tags/Fields within Venafi Provider"
**BUSINESS PROBLEM**
There's a need to have multiple custom tags in each certificate request. At the moment there's no way to pass this metadata in the terraform request. We know that the VCert CLI supports this today, but we wish to use the Terraform provider as that makes it easier for our developers to consume the certificates.

**PROPOSED SOLUTION**
Update the provider to support custom tags/f

[2020-10-06 21:24] #27 closed, assigned to rvelaVenafi

[2020-10-16 19:43] tr1ck3r opened #30 "Option to specify desired validity when requesting a certificate"
**BUSINESS PROBLEM**
Certificate validity periods are growing increasingly shorter as automation improves and better security practices are realized.  Many CAs now allow a specific expiration date to be indicated when requesting a certificate.  Having that option in the Venafi Terraform Provider will make it even more valuable.

**PROPOSED SOLUTION**
Add `valid_days` and `issuer_hint` parameters t

[2020-10-22 05:17] #30 closed, assigned to angelmoo

[2020-12-16 19:31] jtcarnes commented on #19
@tr1ck3r Any progress on the issue? I am encountering the same thing and can help out if need be.

[2021-02-24 15:49] jtcarnes opened #41 "TPP Zone not found for deep folder structure"
**PROBLEM SUMMARY**
When looking to upgrade to 0.11.1, we encountered `zone not found` everywhere. We have rather deep folders so this might be the issue. 0.10.2 works.

**STEPS TO REPRODUCE**
provider "venafi" {
url = "my-companies-tpp"
zone = "\\VED\\Policy\\Certificates\\Internal\\Folder With Spaces\\final.zone.folder"
}

**EXPECTED RESULTS**
Zones that are deep in the folder structure to be fo

[2021-02-24 16:14] tr1ck3r commented on #41
@jtcarnes we believe this issue was addressed in `v0.11.1` (the defect was introduced in `v0.11.0`) can you please verify that you tested with `v0.11.1` and not `v0.11.0`?

[2021-02-24 17:24] jtcarnes commented on #41
I can confirm that it's a problem for v0.11.1.

[2021-02-24 18:07] tr1ck3r commented on #41
Thank you for confirming @jtcarnes.  The issue appears to be not that the folder structure is deep but that you are using the "long form" for the zone.  Definitely a 🐛 that we'll work on fixing but, fortunately, there is a straightforward workaround that is also arguably better.  When you specify the `zone`, instead of _"\VED\Policy\Certificates\Internal\Folder With Spaces\final.zone.folder"_ you

[2021-02-24 22:23] rvelaVenafi commented on #41
The issue is related to a method that removes double forward slashes "\\" from the zone string before passing it to vcert sdk.
This method did not take into consideration the case when the full zone path is passed (\\VED\\Policy\\One\\Two) and removed the leading forward slash from the string, resulting in:
VED\Policy\One\Two
The fix has this case in consideration and appends the forward slash whe

[2021-02-24 22:23] #41 closed, assigned to rvelaVenafi

[2021-03-29 05:38] rangarb885 opened #48 "Support for Import existing venafi_certificate resource"
**BUSINESS PROBLEM**
We have lot of certificates in Venafi. We want to automate the process to manage them via terraform. First step on this is to import the existing certificates to terraform state. Unfortunately this resource does not support importer yet.

```Error: resource venafi_certificate doesn't support import```

**PROPOSED SOLUTION**
Add support for Import existing venafi_certificate re

[2021-05-14 19:47] tr1ck3r opened #54 "Auto-generate an "asset_name" to uniquely represent certificates when installed on hosting devices"
**BUSINESS PROBLEM**
In order to fully the support the certificate renewal use case for some pull provisioning targets like F5 an "asset name" is needed that is effectively unique while also meaningful to a person (i.e. a UUID will not suffice).  The standard TPP naming convention for this has worked well but is based on attributes of the certificate and those attributes aren't readily available t

[2021-05-27 20:30] #8 closed, assigned to tr1ck3r

[2021-07-29 18:41] ToniCipriani opened #57 "0.12.0 Provider unavailable via Terraform Registry"
**PROBLEM SUMMARY**
0.12.0 Provider unavailable via Terraform Registry

**STEPS TO REPRODUCE**
Use example code from Hashicorp document to pin version to 0.12.0

[code]

**EXPECTED RESULTS**
Terraform init should download the provider

**ACTUAL RESULTS**
Provider Not Found

**ENVIRONMENT DETAILS**
Venafi Provider 0.12.0

**COMMENTS/WORKAROUNDS**
Downgrade to provider 0.11.2

[2021-07-29 20:19] tr1ck3r commented on #57
@ToniCipriani what version of Terraform are you using?  Does the system you're running on have access to https://registry.terraform.io?  I just did a quick test from one of my Linux systems and this was the result:

[code]

[2021-07-29 21:34] ToniCipriani commented on #57
Seems like it works now if the provider is also pinned (without the version) in the module.

[code]

[2021-07-29 21:34] #57 closed, assigned to nobody

[2021-09-02 15:04] javierlga commented on #19
I have the same issue, I thought the certificate would be revoked after running `terraform destroy`. Is there any update from the Venafi team?

[2021-09-02 16:07] tr1ck3r commented on #19
We've only received a handful of requests for this enhancement to date.  It makes sense but some have provided feedback that they wouldn't want a certificate to be revoked on destroy because needless revocation leads to bloated CRLs.  So based on that, the revocation behavior would need to be optional.  I believe those customers are eliminating the need for revocation by requesting certificates th

[2021-09-02 16:23] javierlga commented on #19
I agree that everyone has different needs, probably making it optional would be the best, however, if I understand correctly `valid_days` won't apply for those certificates whose expiration date is managed by the CA template in the zone or am I misunderstanding that part?

[2021-09-14 16:05] j-chao commented on #19
I agree that making an optional parameter would be useful.

[2022-01-18 03:14] andresvia opened #67 "Provider registry.terraform.io/venafi/venafi v0.13.0 does not have a package available for your current platform, darwin_arm64."
**PROBLEM SUMMARY**

Can't init terraform.

**STEPS TO REPRODUCE**

1. Create file: main.tf

[code]

2.  Do `terraform init`

[code]

**EXPECTED RESULTS**

Terraform init without errors.

**ACTUAL RESULTS**

Terraform init with errors.

**ENVIRONMENT DETAILS**

`uname -a`

[code]

`terraform version`

[code]

**COMMENTS/WORKAROUNDS**

Workaround (YMMV, use at your own risk)

`git clone https://git

[2022-02-09 14:29] andresvia commented on #67
The problem persist on 0.14.0

[code]

[code]

[2022-03-02 15:53] jkodroff opened #72 "500 returned from API when creating a certificate"
Hello, Venafi.

I'm a developer for Pulumi. One of the acceptance tests for our Venfi provider (which at the time of writing uses terraform-provider-venafi v0.13 to make the actual Venafi API calls) is failing with a 500.

The following code (which should be simple to convert to the corresponding Terraform HCL, but happy to try to reproduce with TF if you would like):

[code]

Returns this error:

[2022-03-15 17:10] fcatacut commented on #48
Is this closed by PR #73 and included in [v0.15.0](https://github.com/Venafi/terraform-provider-venafi/releases/tag/v0.15.0)?

[2022-03-18 12:46] andresvia commented on #67
The problem still persist on the new release `0.15.0`. Thanks.

[2022-03-19 02:03] luispresuelVenafi commented on #67
Hi @andresvia, we are happy to let you know that we addressed this enhancement in the release version `0.15.1` :tada: :confetti_ball:

[2022-03-22 17:45] cdmadrigal opened #79 "Setting an Expiration Window can block Terraform from destroying resources"
**PROBLEM SUMMARY**
If you request a certificate with an expiration window greater than the Issuing Templates validity period you will be be unable to destroy the terraform resources during clean up.

**STEPS TO REPRODUCE**
- Create an Issuing Template within VaaS with a validity period of 168 hours.
- Create a certificate request using the provider with an expiration window greater than 168. I'll

[2022-03-22 20:18] luispresuelVenafi commented on #48
@fcatacut Yes, it is. I'm closing this now since ithas been adressed in [v0.15.0](https://github.com/Venafi/terraform-provider-venafi/releases/tag/v0.15.0)

[2022-03-22 20:18] #48 closed, assigned to nobody

[2022-03-22 20:22] luispresuelVenafi commented on #67
Update: @andresvia in order to be able to import it from the Terraform registry you need to point to version [v0.15.2](https://github.com/Venafi/terraform-provider-venafi/releases/tag/v0.15.2), since we had an issue when publishing it to the registry.

[2022-03-22 23:18] jaikanthjay46 opened #80 "Support Custom Timeouts"
**BUSINESS PROBLEM**

- Provisioning time is erratic and exceeds 3 mins sometimes. Would be handy to have a control over timeout instead of 3 mins for all of them.

**PROPOSED SOLUTION**

special timeouts block in terraform can be used to override the timeout.

https://www.terraform.io/language/resources/syntax#operation-timeouts

**CURRENT ALTERNATIVES**
Try Again Later

**VENAFI EXPERIENCE**

[2022-03-22 23:18] jaikanthjay46 commented on #80
Also, can I contribute to this issue ?

[2022-03-23 01:44] tr1ck3r commented on #80
@jaikanthjay46 yes, we very much welcome contributions from our developer community 😃 The design standard for our open source integrations is that the CA must be able to reliability issue requested certificates in 60 seconds or less or we consider it not viable for the modern automation use case we're targeting.  We decided to allow up 3 times longer to account for bursts of requests that could te

[2022-03-23 04:32] luispresuelVenafi commented on #79
Hi @cdmadrigal I've been revising this case and rather than a bug, this seems to be an enhancement of what we have today, since this have been an expected behavior as we also had this mentioned before in: https://github.com/Venafi/terraform-provider-venafi/issues/6

That error is prompted due to the feature of the `expiration_window` is meeting the undesired value in the refresh validation of the

[2022-03-23 14:30] andresvia commented on #67
I tried it out with:

`main.tf`

[code]

And:

[code]

And `apply|destroy` is working for me in my Darwin ARM64, thanks!

[2022-03-23 14:30] #67 closed, assigned to luispresuelVenafi

[2022-03-23 16:07] klewan opened #81 "Support for Contacts"
**BUSINESS PROBLEM**
Our internal rules for TPP require us to use Contacts property while requesting a certificate.
Would it be possible to add Contacts parameter to the provider and use it in /vedsdk/Certificates/Request endpoint?

**CURRENT ALTERNATIVES**
None

[2022-03-23 17:42] cdmadrigal commented on #79
Hi @luispresuelVenafi, due to the behavior i'd still consider it a bug.
Once the certificate has been issued you can't run `terraform destroy`. If you try to change the `expiration_window` to be policy compliant (i.e: change it from 720 to 100), Terraform still throws the error. If you remove the `expiration_window` entirely you still get the error. The only way to solve the issue is to destroy th

[2022-03-23 19:27] luispresuelVenafi commented on #79
Hi @cdmadrigal , the first behaviour you mentioned should have worked. I just tested it in a issuing template with also a validity time of 168 hours (1 week) and also set the expiration_window to 100 hours. Could you share the output and terraform file template?

![Screenshot from 2022-03-23 13-06-26](https://user-images.githubusercontent.com/77068025/159779976-04ead74b-342b-4823-88af-9d5531177529

[2022-03-23 20:16] luispresuelVenafi commented on #79
I'm re-labeling it back as bug, since although on time before seemed to be the expected behavior, we still want to validate if the user is providing bad input

[2022-03-23 20:29] cdmadrigal commented on #79
Luis, my test cases were around someone requesting a certificate with 720h expiry and then trying to fix it after it's been issued. In all cases of them trying to fix it (adjust the expiration window or remove the expiration window) you will run in to the same issue and the only solution is to delete the state file.

[2022-03-23 22:03] luispresuelVenafi commented on #20
I'm closing this issue, since it has been addressed in  [v0.14.0](https://github.com/Venafi/terraform-provider-venafi/releases/tag/v0.14.0)

[2022-03-23 22:04] #20 closed, assigned to tr1ck3r

[2022-03-23 22:12] luispresuelVenafi commented on #26
I'm closing this issue since `golangci-lint` already forms part of the project's most recent versions.

[2022-03-23 22:12] #26 closed, assigned to rvelaVenafi, angelmoo

[2022-03-23 22:53] luispresuelVenafi commented on #72
We currently don't support integration of our provider to be running  along with Pulimi (hence things may not work as expected). If this is an error within our provider we can label it as bug. Could you share the Terraform HCL version of your code?

Could you also share which version of TPP are using?

[2022-03-23 23:23] luispresuelVenafi opened #82 "No validation for expiration_window constraint"
**PROBLEM SUMMARY**
If you request a certificate with an expiration window greater than its duration will trigger an error that won't let to execute `terraform plan` or `terraform plan -destroy`. This is due to previous expected behavior to delegate to the user the correct input for the `expiration_window` and a `certificate_duration` that complies: `expiration_window <= certificate_duration`

**S

[2022-03-24 00:32] luispresuelVenafi commented on #79
I see, you meant updating it after it has already has been issued (not creating it before hand with those values) got it. Then, yes, it was expected behavior. Still a bug if now we want to validate bad input from the user of that side. I created the main issue to attend [here](https://github.com/Venafi/terraform-provider-venafi/issues/82)  this since this also impacts re-running `terraform plan` a

[2022-03-24 15:56] klewan opened #83 "Server Admin property in custom_fields is not handled properly"
**PROBLEM SUMMARY**

Server Admin property in custom_fields requires providing accounts in PrefixedUniversal format, what is very inconvenient and, in practice, is of no use.
When accounts names are supplied as arguments then certificate metadata presents this attribute as 'AD+XXX:unknown/deleted -1)'.

**STEPS TO REPRODUCE**

[code]

**EXPECTED RESULTS**
[code]

**COMMENTS/WORKAROUNDS**
none

[2022-03-25 15:35] stack72 commented on #72
Hi @luispresuelVenafi

We actually developed the Pulumi Venafi provider in coordination with the Venafi team... so it's been tested and working

It looks like the upstream Venafi TPP has changed and we have our tests working again

You can close this out

Paul

[2022-03-25 16:04] #72 closed, assigned to nobody

[2022-03-28 20:30] tr1ck3r commented on #81
See conversation in https://github.com/Venafi/ansible-collection-venafi/issues/24

[2022-03-31 00:27] luispresuelVenafi commented on #83
Hi, @klewan, thank you to reaching out. This doesn't seem to be a bug, but more of a result of constraints defined in your custom fields of your TPP instance. Our Terraform provider only passes that data as they are defined in the Terraform configuration to the endpoint in order for certificate enrolling, and all its constraints are defined at TPP.

[2022-03-31 06:11] klewan commented on #83
Hi @luispresuelVenafi
Thank you. Would it be possible to deliver Terraform data source to do this translation, i.e. user to its ID (internal TPP representation), so we could concatenate the outputs and have it ready to pass that data to venafi_certifcate resource?

[2022-03-31 22:53] #79 closed, assigned to luispresuelVenafi

[2022-04-01 15:18] tr1ck3r commented on #83
Hi @klewan the behavior you're seeing around the syntax for Identity custom fields is the behavior of the `POST /vedsdk/certificates/request` API method which is documented [here](https://docs.venafi.com/Docs/21.4SDK/TopNav/Content/SDK/WebSDK/r-SDK-POST-Certificates-request.php) for the `CustomFields` parameter:

You can request enhancements or "ideas" for the TPP API in the [Venafi Warrior Commun

[2022-04-01 15:18] #83 closed, assigned to nobody

[2022-04-01 16:21] klewan commented on #83
Hi @tr1ck3r
Would it be possible to have a Terraform data source based on /vedsdk/Identity/Validate POST request (e.g. body: {"ID": { "PrefixedName": "AD+venqa:USER_FRIENDLY_NAME" } }) that fetches json.ID.PrefixedUniversal output and exposes it?
Then we'd be able to pass this value to custom fields in a proper format.

[2022-04-12 17:54] fcatacut opened #89 ""pkcs8: only PKCS #5 v2.0 supported" error occurs during `terraform plan`"
**PROBLEM SUMMARY**

I'm not sure if there is a mis-configuration of Venafi on our end, but upgrading from v0.14.0 to v0.15.x results in the following error during `terraform plan` for an _existing_ certificate:

[code]

**STEPS TO REPRODUCE**

1. Create a cert using v0.14.0.
2. Run `terraform -upgrade` to upgrade to v0.15.x.
3. Run `terraform plan`.

**EXPECTED RESULTS**

Plan should indicate no

[2022-04-13 02:04] luispresuelVenafi commented on #89
Hi @fcatacut, thank you for reaching out. More than a bug, this is missing information in our documentation. This is expected behavior between the two versions, since we are not giving support to PKCS#1 format generated keys (on latest VCert versions), which may probably be in your terraform state for the older version. We believe we can enhance this situation within our provider in order to preve

[2022-04-14 21:25] luispresuelVenafi commented on #89
@fcatacut We are handling this as a bug in backward compatibility, we are soon to fix for this issue in PR: #90

[2022-04-15 01:08] fcatacut commented on #89
I confirmed that v0.15.5 resolves the issue.

[2022-04-19 17:39] luispresuelVenafi commented on #89
This have been addressed in [release v0.15.5](https://github.com/Venafi/terraform-provider-venafi/releases/tag/v0.15.5)

[2022-04-19 17:39] #89 closed, assigned to nobody

[2022-04-26 13:39] forevergenin opened #91 "Not able to generate tls certificates with csr set to 'service'"
I am using terraform venafi provider v0.15.5. Below is the snippet I am trying out. The certificate generation is failing and I am getting `Error: pkcs8: only PBES2 supported` as error. I am running this against Venafi Trust Protection Platform version 21.4.0.4246.

[code]

When I tried the same using vcert (version v4.17.1) command, I can enroll a new certificate get the json response back.

[cod

[2022-04-26 14:05] forevergenin commented on #91
I tested and the certificate enrollment and pickup with `csr` set to `service` is working fine with `vcert` version v4.18.2 as well.

[2022-04-26 15:20] luispresuelVenafi commented on #91
Hi @forevergenin I just tested this with the following quick snippet:
[code]

And our provider ran successfully:

![image](https://user-images.githubusercontent.com/77068025/165330315-80659fa7-94b4-40bb-a266-71bb406ef5ea.png)

![image](https://user-images.githubusercontent.com/77068025/165330847-d695557e-d2e0-4475-87dd-b15a7277122a.png)

![image](https://user-images.githubusercontent.com/77068025/

[2022-04-27 12:06] forevergenin commented on #91
@luispresuelVenafi you are correct. While using `vcert`, if I set the `format` flag to `pkcs12` I run into the below error. I will work with my administrator to update the PBE algorithm and test this out. Thanks for your time and effort !

[code]

[2022-04-27 14:52] forevergenin commented on #91
I verified the PBE configuration. It is set to `High security but low system compatibility (SHA256 AES256)`.

![Screenshot 2022-04-27 at 7 26 46 PM](https://user-images.githubusercontent.com/1590665/165546836-fbd42b0b-588c-4ded-bde6-0162ec054c61.png)

[2022-04-27 17:24] tr1ck3r commented on #91
Hi @forevergenin can you please check the "Other Information" section of the **Settings > Certificate** tab of the policy folder that matches the zone you're specifying for Terraform or VCert?  What you showed in your screenshot applies to the Adaptable Application driver which is an unrelated feature of TPP.

[2022-04-28 06:49] forevergenin commented on #91
@tr1ck3r I checked the "Other Information" section. The PBE is configured as **MD5 3DES**.

![image](https://user-images.githubusercontent.com/1590665/165693787-43844aba-dbb4-4e19-b4c2-7a47ba87f21f.png)

[2022-04-28 17:14] tr1ck3r commented on #91
@forevergenin you should be all set if you change that to "SHA1 3DES" or "SHA256 AES256" (both are stronger password based encryption than you currently have it configured).

[2022-06-02 18:18] luispresuelVenafi commented on #91
Hi @forevergenin,

Were you able to solve your issue with the commented above?

[2022-06-23 17:28] forevergenin commented on #91
@luispresuelVenafi @tr1ck3r  thank you so much for your insights. Updated the PBE for the zone to "SHA256 AES256" and this resolved the issue. I have verified it using `vcert` command line tool. I will soon verify it via terraform provider as well.

[2022-06-23 19:01] luispresuelVenafi commented on #91
Thank you for your feedback @forevergenin ! I'll be closing the ticket now. Let us now if you encounter any other issues.

[2022-06-23 19:01] #91 closed, assigned to nobody

[2022-08-02 14:04] MarioUhrik opened #94 ""Error comparing certificate and key" when creating more than one certificate resource for the same hostname"
**PROBLEM SUMMARY**
When I try to create multiple certificates using the same hostname, the private keys are generated incorrectly and `terraform plan` starts failing every run until the Terraform state file is manually repaired.

**STEPS TO REPRODUCE**
`terraform apply` where the "for each" spawns 3 counts of `auth_cert`

[code]

**EXPECTED RESULTS**
I get 3 valid certificates resources and no is

[2022-08-25 12:56] zohairajmal opened #95 "Terraform Import venafi_certificate fails because its requires 2 arguments"
[Venafi Provider](https://github.com/Venafi/terraform-provider-venafi/blob/master/venafi/resource_venafi_certificate.go#L747). Here we can see that it requires 2 arguments for terraform import. However, on the terraform documentation, it states that the key_password is an optional variable. Inside the statefile if none is set, the value is : null.

The problem comes when importing the certificate

[2022-08-25 16:13] luispresuelVenafi commented on #95
Hi @zohairajmal , thank you for reaching out!
Yes, the key_password is an optional value in the resource creation process but it is required during the import process since it is part of our import ID as mentioned in the import section in our provider documentation: https://registry.terraform.io/providers/Venafi/venafi/latest/docs/resources/venafi_certificate#import

The import_id is different for

[2022-08-25 17:02] zohairajmal commented on #95
Hello @luispresuelVenafi thank you for reaching back to me.

I am actually working on an automation that makes the import process automatic, hence the terraform import is not being done by any human. The way I get the import ID is via Venafi API where I make an API call to Venafi with a common_name to confirm that the resource exists in real world infrastructure. If the common_name is a match in t

[2022-08-26 13:34] zohairajmal commented on #95
To give further information on how to reproduce:
[code]

Doing `terraform apply` on the above configuration creates a certificate on venafi portal as well. Now in my case, we corrupt the statefile and remove the venafi resource from the statefile. Or import this resource into a new statefile by doing: `terraform import venafi_certificate.example app1.demo.net,SomeKeyPassword123!` it returns the er

[2022-08-26 16:44] luispresuelVenafi commented on #95
Hello @zohairajmal , sorry for the delay

Generally when managing PKI infrastructure you'd want to pass your CSR and its private key to any of the platforms in order to perform the issuance of a Certificate Key-pair. This is, you'd store your private key **locally**. Now, we have support the ability to get the CSR key-pair generated by the **service** (by either Venafi as a Service, or Venafi's Tr

[2022-08-29 21:01] luispresuelVenafi commented on #95
Hi @zohairajmal , were you able to solve your issue with the above comments?

[2022-08-29 21:38] zohairajmal commented on #95
@luispresuelVenafi I was able to proceed forward but I cannot confirm this yet because when creating the resource, I get some error with pbsc12 not supported. I think it has something to do with the Venafi TPP having md5 PBE instead of SHA256, i have informed the respective team to change it to SHA256 and they are measuring the impact of this change right now (this was a suggestion from one of the

[2022-09-01 14:15] jkacou commented on #80
@tr1ck3r yes I agree with you untill we come to the approval steps from Venafi administrators / security in a company
Since we are not able to deal with the timeout and never we will have an human approval in 60s (neither in 3min) all requests where we need an human approval systematically fails and it is a big mess.. :(
I would prefer to have a long running job (with a certain custom timeout) wai

[2022-09-13 13:32] muralikrishnarokkam opened #97 "Call to function "file" failed: contents of "./file/cabundle.pem" are not valid UTF-8"
Having an issue using terraform venafi, In that trust_bundle unable to use file function in terraform got an below error.

Call to function "file" failed: contents of "./file/cabundle.pem" are not valid UTF-8

[2022-09-13 20:44] zohairajmal commented on #95
The Issue seems to be solved for now by moving out PBE to SHA256, the import works fine with the key_password! Ofc the only problem we see is that the key_password that we use is a Password stored in Jenkins as an environment variable that is rotating every year. Will think of a more permanent solution till then.

[2022-09-13 20:44] #95 closed, assigned to nobody

[2022-09-13 22:07] EduardoVV commented on #97
Hi @muralikrishnarokkam , thanks for raising this issue.

**Can you provide more information?**
- terraform version
- terraform-provider-venafi plugin version

**Can you also verifiy using `openssl` command to see if the PEM bundle contains any errors?**
`openssl verify -verbose ./file/cabundle.pem`

**And lastly, are you by any chance using a binary encoded PEM bundle instead of ascii armor?**

[2022-09-22 22:49] luispresuelVenafi commented on #97
Hi there @muralikrishnarokkam ,

Did what @EduardoVV comment solved your issue?

[2022-09-27 00:07] luispresuelVenafi commented on #94
Hi @MarioUhrik , thank you for reaching out!

We confirmed this issue is happening in TPP side (not issue on VaaS side) and is due to how it behaves with certificates objects. Since when trying to create 3 certificates with the same `common_name` at the same time, we are stressing the issuance in TPP with the same certificate object since they all three try to get the same name that you would norm

[2022-10-05 07:25] luispresuelVenafi commented on #97
I'm closing this issue so developers can focus on other work. We can re-open it if needed

[2022-10-05 07:25] #97 closed, assigned to nobody

[2022-10-05 07:27] luispresuelVenafi commented on #82
This was addressed in [v0.15.3](https://github.com/Venafi/terraform-provider-venafi/releases/tag/v0.15.3).

[2022-10-05 07:27] #82 closed, assigned to luispresuelVenafi

[2022-10-07 18:24] #94 closed, assigned to luispresuelVenafi

[2022-10-27 22:49] jkacou opened #100 "Deal with built-in Venafi approval steps"
**BUSINESS PROBLEM**
The issue is about the creation of a certificate that is requiring an approval before actually create the certificate.
For now, terraform finish in timeout while waiting for the approval. below the process of failing
1. Terraform request a new certificate
2. The creation is stopped by the approval step
3. Since the approval is not validated within 3minutes terraform timeout
4.